@model WebApp_13_11_2023.Models.CadClientes

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CadClientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_cliente" />
            <div class="form-group">
                <label asp-for="nome_cliente" class="control-label"></label>
                <input asp-for="nome_cliente" class="form-control" />
                <span asp-validation-for="nome_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email_cliente" class="control-label"></label>
                <input asp-for="email_cliente" class="form-control" />
                <span asp-validation-for="email_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefone_cliente" class="control-label"></label>
                <input asp-for="telefone_cliente" class="form-control" />
                <span asp-validation-for="telefone_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco_cliente" class="control-label"></label>
                <input asp-for="endereco_cliente" class="form-control" />
                <span asp-validation-for="endereco_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cidade_cliente" class="control-label"></label>
                <input asp-for="cidade_cliente" class="form-control" />
                <span asp-validation-for="cidade_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado_cliente" class="control-label"></label>
                <input asp-for="estado_cliente" class="form-control" />
                <span asp-validation-for="estado_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cep_cliente" class="control-label"></label>
                <input asp-for="cep_cliente" class="form-control" />
                <span asp-validation-for="cep_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_cadastro" class="control-label"></label>
                <input asp-for="data_cadastro" class="form-control" />
                <span asp-validation-for="data_cadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
