@model WebApp_13_11_2023.Models.InventarioSoftwares

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>InventarioSoftwares</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_cliente" class="control-label"></label>
                <input asp-for="id_cliente" class="form-control" />
                <span asp-validation-for="id_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_produto" class="control-label"></label>
                <input asp-for="id_produto" class="form-control" />
                <span asp-validation-for="id_produto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome_software" class="control-label"></label>
                <input asp-for="nome_software" class="form-control" />
                <span asp-validation-for="nome_software" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="versao_software" class="control-label"></label>
                <input asp-for="versao_software" class="form-control" />
                <span asp-validation-for="versao_software" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fabricante_software" class="control-label"></label>
                <input asp-for="fabricante_software" class="form-control" />
                <span asp-validation-for="fabricante_software" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="licenca_software" class="control-label"></label>
                <input asp-for="licenca_software" class="form-control" />
                <span asp-validation-for="licenca_software" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_aquisicao_software" class="control-label"></label>
                <input asp-for="data_aquisicao_software" class="form-control" />
                <span asp-validation-for="data_aquisicao_software" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="custo_aquisicao_software" class="control-label"></label>
                <input asp-for="custo_aquisicao_software" class="form-control" />
                <span asp-validation-for="custo_aquisicao_software" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status_software" class="control-label"></label>
                <input asp-for="status_software" class="form-control" />
                <span asp-validation-for="status_software" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao_software" class="control-label"></label>
                <input asp-for="descricao_software" class="form-control" />
                <span asp-validation-for="descricao_software" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
